<table>
  <% 5.downto(0) do |row| %>
    <tr>
      <% 7.times do |column| %>
        <td>
          <%= move_for(game: @game, row: row, column: column) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= content_tag :h3, "#{@game.turn.name} won!" if @game.over? %>
<%= content_tag :h3, "Your move #{@game.turn.name}" unless @game.over? %>
