@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  padding-top: 60px;
}

.move {
  display: inline-block;
  border: 4px solid #404040;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.bg-danger { background: #d9534f; }
